.content ul {
  list-style-type: disc;
  padding-left: 20px;
}

blockquote {
  padding-left: 10px;
  border-left: 3px solid blueviolet;
}

code {
  color: theme("colors.teal.600");
  word-wrap: normal !important;
}

.content a,
a.highlight {
  color: theme("colors.blue.400");
  text-decoration: underline;
}
