---
import { Image } from "@astrojs/image/components";
import Block from "~/components/Block.astro";
import Container from "~/components/Container.astro";
import Items from "~/components/Items";
import SocialLinks from "~/components/SocialLinks";
import Portrait from "~/images/headshot.jpg";
import MainLayout from "~/layouts/MainLayout.astro";
---

<MainLayout title="About - Victor Ndaba" description="Get to know me">
  <Container>
    <div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
      <div class="lg:pl-20">
        <div class="max-w-xs px-2.5 lg:max-w-none">
          <Image
            src={Portrait}
            alt=""
            sizes="(min-width: 1024px) 32rem, 20rem"
            class="aspect-square rotate-3 rounded-2xl bg-zinc-100 object-cover dark:bg-zinc-800"
          />
        </div>
      </div>
      <div class="lg:order-first lg:row-span-2">
        <h1 class="text-5xl font-bold text-zinc-800 dark:text-zinc-100">Hi, I'm Victor Ndaba.</h1>
        <Items client:only="react" />
        <div class="mt-6 space-y-7 text-lg text-zinc-600 dark:text-zinc-400">
          <Block title="Who am I?">
            A simple nerd from Kenya who loves to code! I love talking and researching about physics. I love listening
            to music. I love movies and tv shows. I love pretty much all the nerdy things, what I would refer to as <span
              >nerdology</span
            >. I believe in doing things with passion and with all your heart, or not at all! It's like that cool Bill
            Skarsgård line from John Wick, "How you do anything, is how you do everything"
          </Block>
          <Block title="What do I do?">
            I have been programming for almost 3 years now and it's what I do with majority of my time. I started out as
            a web developer, playing around with Javascript frameworks like react, vue & angular, found my way into
            Node.js and backend development, then I heard somewhere about this cool language called Rust, picked up
            python and golang along the way... and some more other stuff and now I'm a very passionate and proficient
            developer. From web development with pretty much any framework, to cross platform app development with
            Flutter and React Native, to machine learning, I know a thing or two about programming.
          </Block>
          <Block title="My love for physics">
            For as long as I can remember, I have always had this deep passion for physics. It's very elegant and
            beautiful. I am particularly intrigued by the works of figures like Newton, James Clerk Maxwell, Einstein...
            in short, anything pertaining to Gravity, or a quantum theory of gravity. I do some physics research now and
            then for a paper I'm working on and as for my subscription when it comes to quantum mechanics
            interpretations, I would have to choose Pilot Wave theory, or moreso, a modified version of it.
          </Block>
          <Block title="Music, medicine for the soul">
            From Bon Jovi to The Weeknd, I like all sorts of music. I've played around with FL Studio and other DAWs,
            but nothing that serious, maybe someday. I'm a hardcore MCU fan and like other stuff such as GOT, Stranger
            things, HIMYM. Did I say like? I meant obsessed with them. These are some of the stuff I do in my leisure
            alongside playing around with 3D sofware mostly Blender, Houdini and Nuke.
          </Block>
          <Block title="What am I upto?">
            An year and a half into my undergradute engineering course, I realized that's not what I really wanted to do
            with my life and so I dropped out! Why, you ask ? Coz my heart was somewhere else. I had already been
            programming for a while and so basically just dedicated 100% of my time to it. Today, I work at a very cool
            startup called <a class="underline" href="https://jumba.com">Jumba</a>, as a fullstack software developer
            helping to build and ship their software needs. I'm also a big fan of open source and occassionally work on
            some projects. Besides that, I'm building other cool stuff such as <a
              class="underline"
              href="https://fefa-academy.vercel.app">Fefa Academy</a
            >, <a class="underline" href="https://dfarmer.co/bZZlCsd">Digitalfarmer</a>, <a
              class="underline"
              href="https://backframe.dev">Backframe</a
            > and much more
          </Block>
        </div>
      </div>
      <div class="lg:pl-20">
        <ul role="list">
          <SocialLinks />
        </ul>
      </div>
    </div>
  </Container>
</MainLayout>
