---
import { BlogsBody } from "~/components/Blogs";
import Container from "~/components/Container.astro";
import MainLayout from "~/layouts/MainLayout.astro";

let blogs = await Astro.glob("~/blogs/**/*.mdx");
blogs = blogs.sort((a, b) => new Date(a.frontmatter.date).getDate() - new Date(b.frontmatter.date).getDate());
---

<MainLayout>
  <Container>
    <div class="md:w-3/4">
      <h1 class="leading-tight mb-4">Blogs on Software development, UI Design, CG & 3D, and then some...</h1>
      <p class="dimmed leading-normal text-lg mb-5">
        I love writing about things I'm passionate about. I write primarily about software development in general,
        anything from frontend frameworks to backend development, machine learning and programming in general. I may
        occassionaly thrown in a blog or two about UI Design, blender and houdini and even shows! Enjoy...
      </p>
    </div>
    <BlogsBody content={blogs} client:load />
  </Container>
</MainLayout>
