---
import Block from "~/components/Block.astro";
import Container from "~/components/Container.astro";
import MainLayout from "~/layouts/MainLayout.astro";
---

<MainLayout>
  <Container>
    <div class="w-full md:w-3/4">
      <h1 class="leading-tight">Some of my uses, preferences and general things that I find awesome...</h1>
    </div>
    <section class="grid grid-cols-1 text-lg my-8 gap-5">
      <Block title="Workstation and Environment" icon="rocket">
        I don't have crazy setup with an M1 Mac or anything like that. I'm running on <span class="hy">Windows</span>,
        which I don;t really like but have to use since I depend on some Adobe software. However, I'm using <span
          class="hy">WSL</span
        > and for my purposes, it has served me well. I don't have to dual boot for this reason. Despite my strong dislike
        for microsoft-concerned products, I have to admit that Windows tooling has certainly improved. Especially <span
          class="hy">winget</span
        > and <span class="hy">windows terminal</span>. I use winget to install pretty much everything. My default
        terminal is <span class="hy">bash</span> but I have been playing around with <span class="hy">Nushell</span>. I
        mostly use <span class="hy">VScode</span> and occassionaly spin up <span class="hy">sublime text</span> when I need
        something faster and more memory-effecient. It never ceases to amaze me by how fast it always starts up.
      </Block>
      <Block title="Javascript and Node" icon="rocket">
        I have gotten into arguments with many devs on the webdev subreddit concerning <span class="hy">tailwind</span>.
        They don't like it, but I love it. Give me tailwind or give me death! And then add <span class="hy"
          >headlessui</span
        > I generally don't use component librariers nowadays, but if I had to, I'd probably go with <span class="hy"
          >Mantine</span
        >. Nothing pains me more than seeing someone use npm or yarn knowing very well that <span class="hy">pnpm</span>
        exists. Seriously, use pnpm! But what's even more painful is seeing someone use Create-react-app over <span
          class="hy">Vite</span
        >. Vite is blazingly fast, Evan made it just for you. <span class="hy">Next</span> and/or <span class="hy"
          >Remix</span
        > are my goto frameworks for full-stack apps. I mostly use <span class="hy">react</span> since its fast for prototyping
        and has an awesome ecosystem.
      </Block>
      <Block title="General programming" icon="rocket">
        My favorite programming language is <span class="hy">Rust</span>. I love it. I have been using it for a while
        now and after a few fights with the borrow checker, I grew into it. I'd follow that up with <span class="hy"
          >Ruby</span
        >. I generally dislike dynamically-types languages but Ruby would have to be the exception(pure Ruby, without
        Rbs). I think I just really like its story and the cool names of notable people in the ecosystem. Like Matz and
        DHH. Recently, I have been exploring the world of <span class="hy">Ziglang</span> and I really like it. I think Andrew
        Kelley is doing an amazing job. The most difficult language that I've had to learn is <span class="hy"
          >Erlang</span
        >. Mostly because, I was coming from a JS ecosystem and when you come from such a community, the Erlang one is
        virtually inexistent. I liked it after a while, because of <span class="hy">Ejabberd</span> and <span class="hy"
          >XMPP</span
        > stuff and eventually I eased into <span class="hy">Elixir</span>. I like <span class="hy">Golang</span> because
        of it's easy to use nature and how fast it is. I like exploring retro-programming languages to see how things were
        done. On a compiler project I'm working on, I'm using <span class="hy">OCaml</span>. The language that I have
        written the most LOCs in would have to be <span class="hy">Typescript</span>. I like it.
      </Block>
      <Block title="Film and TV" icon="rocket">
        <span class="hy">Game of Thrones</span> is the best TV show ever made. I love it. And for the record when I say that
        I mean GOT Sn(1-7). I do not recognize the final season. <span class="hy">Breaking bad</span> is also amazing and
        <span>Vince Gilligan</span> is one of the people I look up to. He managed to create an awesome show, run it successfully
        for five years, and not only stick the landing but also create a spinoff and do the exact same thing. I prefer the
        <span class="hy">MCU</span> over <span class="hy">DCEU</span>
        but I cannot speak for phase 4. <span class="hy">Stranger things</span> is a show I hold dearly to my heart. The
        Duffers really created something amazing with it. I can only hope that they will stick the landing with the final
        season.
      </Block>
    </section>
  </Container>
</MainLayout>
