---
import Container from "../components/Container.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <Container>
    <h1>Here are some of my uses and preferences</h1>
  </Container>
</MainLayout>
