---
import { Image } from "@astrojs/image/components";
import GithubIcon from "@astropub/icons/GithubLogo";
import SunIcon from "@astropub/icons/Sun";
import avatar from "../images/avatar.jpg";
import NavItem from "./NavItem.jsx";
---

<div
  class="h-20 p-5 md:px-10 flex items-center justify-between text-zinc-800 dark:text-zinc-100"
>
  <a href="/">
    <Image
      src={avatar}
      alt="Victor Ndaba"
      class="h-10 w-10 rounded-full ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:ring-white/10 cursor-pointer hover:ring-4 transition-all"
      formats={["avif", "webp"]}
    />
  </a>
  <div
    class="hidden md:flex items-center p-2 rounded-full bg-white/90 px-3 text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10"
  >
    <NavItem href="about">About</NavItem>
    <NavItem href="blog">Blog</NavItem>
    <NavItem href="projects">Projects</NavItem>
    <NavItem href="uses">Uses</NavItem>
  </div>
  <div class="flex items-center space-x-8">
    <a href="https://github.com/ndaba1" class="cursor-pointer" target="_blank">
      <GithubIcon />
    </a>
    <div
      class="ring-2 ring-zinc-200 hover:ring-4 cursor-pointer dark:ring-white/10 rounded-xl p-2 relative"
    >
      <SunIcon title="Toggle theme" size={20} />
    </div>
  </div>
</div>
