---
import { AstroSeo } from "@astrolib/seo";
import Footer from "~/components/Footer.astro";
import Header from "~/components/Header.astro";
import Scripts from "~/components/Scripts.astro";
import "~/styles/global.css";

export interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Victor Ndaba | Software developer, 3D Animator, Physics researcher.",
  description = "Welcome to the personal portfolio website and blog of Victor Ndaba. I write about software development, CG and 3D, Machine learning and other general tech-related topics.",
} = Astro.props as Props;
---

<html lang="en" class="motion-safe:scroll-smooth 2xl:text-[20px]">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <script defer data-domain="vndaba.rocks" src="https://plausible.io/js/script.js"></script>
  </head>
  <body class="bg-white dark:bg-black font-plex">
    <Header />
    <main class="pt-10">
      <slot />
    </main>
    <Footer />
    <Scripts />
    <AstroSeo
      title={title}
      description={description}
      twitter={{
        handle: "@vndaba_",
        site: "@vndaba_",
        cardType: "summary_large_image",
      }}
    />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P1YGS4NW8V"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-P1YGS4NW8V");
    </script>
  </body>
</html>
